/* Our Main Colors */
:root {
	--primary-color: #009dff;
    --secondery-color: #0D0D0B;
	--bg-color: #f0f5f7;
    --li-font-color: #FAFFF0;
    --dr-font-color: #111;
	--dark-color: #262626;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/*      Start Hero-Section      */

.hero {
    background: url("../img/bg-hero-1.jpg") no-repeat fixed;
    background-color: var(--dark-color);
    background-blend-mode: overlay;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero .main-text {
    margin-left: 50px;
}

.hero h2 {
    color: var(--li-font-color);
    font-size: 75px;
}

.hero h2 span {
    color: var(--primary-color);
}

.hero p {
    font-size: 35px;
    color: var(--li-font-color);
}

@media (max-width:575.98px) {
    .hero {
        background: url("../img/about_1.jpg") no-repeat fixed;
        background-color: var(--dark-color);
        background-blend-mode: overlay;
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .hero .main-text {
        margin: 0 10%;
    }
    .hero h2 {
        color: var(--li-font-color);
        font-size: 40px;
    }
    .hero p {
        font-size: 25px;
        color: var(--li-font-color);
    }
}

/*      End Hero-Section      */


/*      Start Image-Paragraph      */

.image-paragraph {
    color: var(--dark-color);
}

.image-paragraph .text-padding {
    padding: 50px 0;
}

.image-paragraph .text-padding p {
    font-size: 22px;
    padding: 10px 0;
    line-height: 1.74;
}

.image-paragraph h3 {
    color: var(--primary-color);
    font-weight: lighter;
}

.image-paragraph h2 {
    font-size: 64px;
    font-weight: bold;
}

.image-paragraph .img-space {
    margin: 50px 0;
}

.image-paragraph img {
    max-width: 100%;
}

/*      End Image-Paragraph      */

