/* Our Main Colors */
:root {
	--orange-color: #ff8700;
    --secondery-color: #0D0D0B;
	--bg-color: #D2D9D8;
    --li-font-color: #FAFFF0;
    --dr-font-color: #111;
	--dark-color: #121212;
	--pink-bg-color: #f3912044;
}
/* rgb(255, 135, 0) */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/* 
body {
	height: 2000px;
} */

/*      Start Upper Bar      */

.upper-bar {
	background-color: var(--dark-color);
	opacity: 0.8;
}

.upper-bar .info {
	margin: 15px 0;
    color: var(--li-font-color);
	
}

@media (max-width: 576px) {
    .upper-bar .info:first-child {
        margin-bottom: 0;
    }
}

/*      End Upper Bar      */

/*      Start Navbar      */

.navbar-brand span {
    font-size: 40px;
}

.navbar-brand span:first-child {
    color: var(--orange-color);
    font-weight: bold;
}

.navbar-brand span:last-child {
	color: var(--secondery-color);
}

.navbar-nav .nav-link {
    margin-left: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

.navbar-nav .nav-link:hover {
    color: var(--orange-color) !important ;
}

/*      End Navbar      */

/*      Start Main Section      */

.main-section {
	padding: 50px 0;
	/* background-color: var(--pink-bg-color); */
}


.main-section .main-text h1 {
	margin-top: 15vh;
	color: var(--secondery-color);
}

.main-section .res-img img {
	height: 65vh;
}

.btn-outline-orange {
	color: var(--orange-color);
	border-color: var(--orange-color);
}

.btn-outline-orange:hover {
	color: #fff;
	background-color: var(--orange-color);
	border-color: var(--orange-color);
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 135, 0, 0.5);
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
	color: var(--orange-color);
	background-color: transparent;
}

.btn-outline-orange:not(:disabled):not(.disabled):active, .btn-outline-orange:not(:disabled):not(.disabled).active,
.show > .btn-outline-orange.dropdown-toggle {
	color: #fff;
	background-color: var(--orange-color);
	border-color: var(--orange-color);
}

.btn-outline-orange:not(:disabled):not(.disabled):active:focus, .btn-outline-orange:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-orange.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.502);
}


/*      End Main Section      */

/*      Start Features      */

.features {
	padding-bottom: 100px;
	/* background-color: var(--bg-color); */

}

.features .h1 {
	padding: 50px 0;
	font-size: 50px;
	font-weight: bold;
	color: var(--dr-font-color);
}

.features .card-image {
	height: 50vh;
	padding: 20px;
}

/*      End Features      */


