/* Our Main Colors */
:root {
	--primary-color: #6BBEF2;
    --secondery-color: #0D0D0B;
	--bg-color: #D2D9D8;
    --li-font-color: #FAFFF0;
    --dr-font-color: #111;
	--dark-color: #262626;
	--pink-bg-color: #f3912044;
}

/* --blue-color: #0B8CD5; */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	/* background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23064e77'/%3E%3Cstop offset='1' stop-color='%230a7dbe'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%238f8f8f'/%3E%3Cstop offset='0.09' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.18' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.31' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.44' stop-color='%23e8e8e8'/%3E%3Cstop offset='0.59' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.75' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top left; */
	background-color: #fff;
	/* background-image: url("../img/memphis-colorful.png"); */
}

/*      Start Upper Bar      */

.upper-bar {
	background-color: var(--dark-color);
}

.upper-bar .info {
	margin: 15px 0;
    color: var(--li-font-color);
	
}

/*      End Upper Bar      */

/*      Start Navbar      */

.navbar-brand span {
    font-size: 40px;
}

.navbar-brand span:first-child {
    color: var(--primary-color);
    font-weight: bold;
}

.navbar-brand span:last-child {
	color: var(--secondery-color);
}

.navbar-nav .nav-link {
    margin-left: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

.navbar-nav .nav-link:hover {
    color: var(--primary-color) !important ;
}

/*      End Navbar      */

/*      Start Main Section      */

.main-section {
	padding: 50px 0;
}

.main-section .main-text h1 {
	margin-top: 15vh;
	color: var(--secondery-color);
}

.main-section .res-img img {
	height: 65vh;
	filter: drop-shadow(7px 7px 8px black);
	animation: drop 1.5s ease-in-out;
}

.btn-outline-primary {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 135, 0, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: var(--primary-color);
	background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.502);
}

/*      End Main Section      */

/*      Start Features      */

.features {
	padding-bottom: 50px;
	/* background-color: var(--bg-color); */

}

.features .h1 {
	padding: 50px 0;
	font-size: 50px;
	font-weight: bold;
	color: var(--dr-font-color);
}

.features .card {
	box-shadow: 1px 1px 4px #333;
}

.features .card:hover {
	position: relative;
	top: -1px;
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
	box-shadow: 2px 2px 5px #333, 2px 2px 5px #111 ;
}

.features .card-image {
	height: 50vh;
	padding: 20px;
}

/*      End Features      */

/*      Start Image-paragraph      */

.para-img {
	padding: 50px 0;
	margin: 50px 0 100px 0;
}

.para-img .text-para {
	margin-top: 100px;
}

.para-img .img-para img {
	height: 60vh;
}

/*      End Image-paragraph      */


/*      Start icon-explain      */

.icon-explain i {
	font-size: 50px		;
}

/*      End icon-explain      */





/*      Start Big Image      */

.big-img {
	padding: 50px 0 100px 0;
}

.big-img .main-img {
	background-image: url("../img/round-light-background.jpg");
	/* background-size: contain; */
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vh;
	text-align: center;
}

.big-img .oxy-logo {

	font-size: 500px;
	padding: 100px 0;
}

.big-img .big-img-heading {
	margin-top: 50px;
	font-size: 90px;
}

.big-img .big-img-para {
	letter-spacing: 3px;
	padding: 100px 0;
	font-size: 40px;
}

/*      End Big Image      */


/*      Start Quote      */

/* .quote {
	padding: 50px 0;
}

.quote .quote-box {
	padding-right: 50px;
	background: rgb(130,129,131);
	background: linear-gradient(90deg, rgba(130,129,131,1) 10%, rgba(145,145,161,1) 37%, rgba(202,206,207,1) 100%);
	text-align: center;	
	border-radius: 20px;
}

.quote .quote-box q {
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
}

.quote .quote-box p {
	font-size: 20px;
	text-align: right;
}

.quote .first-quote {
	position: relative;
	top: -70px;
	left: 950px;
	font-size: 100px;
	color: var(--primary-color);
}

.quote .second-quote {
	position: relative;
	top: 90px;
	right: 650px;
	font-size: 100px;
	color: var(--primary-color);
} */

.contact-us {
	padding: 100px 0;
	background-color: var(--primary-color);
	color: var(--li-font-color);
	font-size: 25px;
}

.contact-us a {
    color: var(--li-font-color);
    border: 2px solid var(--dark-color);
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.contact-us a:hover {
	color: var(--dark-color);
	background-color: var(--li-font-color);
	transition: .4s ease-in-out;
}

/*      End Quote      */


/*      Start Double Image      */

.double-img {
	padding: 100px 0;
}

.double-img img {
	/* width: 90vh; */
	max-width: 100%;
}

.double-img p {
	line-height: 2.5;
}

/*      End Double Image      */


/*      Start Footer      */

.footer {
	padding: 100px 0;
	background-color: var(--dark-color);
}

.footer .site-info h2 {
    font-size: 40px;
    margin-bottom: 35px;
}

.footer .site-info h2 span:first-child {
    color: var(--primary-color);
    font-weight: bold;
}

.footer .site-info h2 span:last-child {
    color: var(--li-font-color);
}

.footer .site-info p {
    line-height: 2;
    color: var(--li-font-color);
}

.footer .helpful-links h2,
.footer .contact h2 {
	font-size: 25px;
	font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 55px;
}

.footer .helpful-links li::before {
	content: "\f054";
	font-family: "FontAwesome";
	color: var(--primary-color);
	margin-right: 5px;
}

.footer .helpful-links li,
.footer .contact li {
	color: var(--li-font-color);
}

.footer .contact ul li {
	margin-bottom: 16px;
}

/*      End Footer      */

/*      Start CopyRight      */

.copyright {
	background-color: var(--dark-color);
	color: var(--li-font-color);
    border-top: 1px solid var(--li-font-color);
    padding: 20px;
}

.copyright h5 a {
	color: var(--li-font-color);
	text-decoration: none;
}

.copyright h5 .logo {
    color: var(--primary-color);
	font-weight: bold;
	text-transform: capitalize;
}

.copyright h5 span:last-child {
	color: var(--li-font-color);
}

.copyright ul {
    margin: 0;
}

.copyright ul li {
    display: inline-block;
}

.copyright ul li a {
    color: var(--li-font-color);
    margin-left: 20px;
    font-size: 20px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.copyright ul li .i-face:hover {
	color: #3b5998;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.copyright ul li .i-twit:hover {
	color: #00acee;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.copyright ul li .i-inst:hover {
	color: #c13584 ;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.copyright ul li .i-linkd:hover {
	color: #0e76a8;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.copyright ul li .i-yout:hover {
	color: #FF0000;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

/*      End CopyRight      */


@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}