
.main-board {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-board * {
    max-width: 100%;
    margin: .5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
}
@media (max-width:575.98px) {
    .main-board * {
        font-size: 2.5rem;
        margin: .2em;
    }
}
.main-board img {
    box-shadow: 5px 5px 10px var(--dark-color);
}
