
section {
    display: flex;
	width: 100%;
	height: 100vh;
	margin: auto;
	/* min-height: 80vh; */
	align-items: center;
	position: relative;
	background: url(/img/screen-start-customization-saver-black-nvidia-18234.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	clip-path: circle(180vh at 50% -80vh);
}

.contant {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
} 


.main-board {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-board h2, h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    color: var(--dr-font-color);
    margin: 25px;
}
.main-board img {
    width: 100%;
    margin: 10px;
    box-shadow: 5px 5px 10px var(--dark-color);
}